{% extends "base.html" %}
{% block content %}
<main class="editcountry">
<h2>Edit a Location</h2>

<form class="editform" action="/countries/{{country.id}}" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{country.name}}" required autofocus>
  </div>

  <div>
    <label for="continent">Continent:</label>
    <select name="continent" id="continent">
      <option value="{{country.continent}}">{{country.continent}}</option>
      <option value="Africa">Africa</option>
      <option value="Asia">Asia</option>
      <option value="Oceania">Oceania</option>
      <option value="Europe">Europe</option>
      <option value="North America">North America</option>
      <option value="South America">South America</option>
    </select>
  </div>
</main>
</form>

<button class="button" type="submit">Update Country</button>

{% endblock content %}