{% extends "base.html" %}
{% block content %}

<h2>Edit a Location</h2>

<form action="/countries/{{country.id}}/edit" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{country.name}}" required autofocus>
  </div>

  <div>
    <label for="continent">Continent:</label>
    <input type="text" id="continent" name="continent" value="{{country.continent}}" required >
  </div>


  <button type="submit">Update Country</button>

</form>

{% endblock content %}