{% extends "base.html" %}
{% block content %}

<form action="/countries" method="POST">

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="e.g Scotland" required autofocus>
  </div>

  <div>
    <label for="continent">Continent:</label>
    <select name="continent" id="continent">
      <option value="Continent"disabled selected hidden>Select</option>
      <option value="Africa">Africa</option>
      <option value="Asia">Asia</option>
      <option value="Oceania">Oceania</option>
      <option value="Europe">Europe</option>
      <option value="North America">North America</option>
      <option value="South America">South America</option>
    </select>
  </div>

  <button type="submit">Add To Bucket List!</button>
  

</form>

{% endblock content %}
