{% extends "base.html" %}
{% block content %}
<main>
  <div class="showcountries">
    <h4>Name:</h4> 
      <i>{{country.name}}</i> 
    <h4>Continent:</h4>   
      <i>{{country.continent}} </i>
    <h4>Cities:</h4> 
    {% for city in cities %}
    <i> {{city.name}}</i>
    {% endfor %}
    <br>
    <ul class="editbutton">
      <a href="/countries/{{country.id}}/edit">Edit</a>
    </ul>
    <section class="deletebutton">
    <form action="/countries/{{ country.id }}/delete" method="POST">
      <input type="submit" value="Delete">
    </form>
    </section>
  </div>
</main> 



{% endblock %}