{% extends "base.html" %}
{% block content %}
<main class="editcountry">
<h2>Edit a City</h2>
<body>
<form class="editform" action="/cities/{{city.id}}" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{city.name}}" required autofocus>
  </div>

  <div>
    <label for="visited">Visited?</label>
    <select name="visited" id="visited">
      <option value="select"disabled selected hidden>Select:</option>
      <option value="True">True</option>
      <option value="False">False</option>
    </select>
  </div>
  <input type="Submit">
</form>

<!-- <button class="button" type="submit">Update City</button> -->
</body>
</main>
{% endblock content %}