{% extends "base.html" %}
{% block content %}

<h2 class="pageheader">Cities</h2>
<br>

<section class="showcities">
    {% for city in cities %}
    <p>{{ city.name }}</p>
    <ul class="editbutton">
        <a href="/cities/{{city.id}}/edit">Edit</a>
    </ul>
    <section class="deletebutton">
    <form action="/cities/{{ city.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
    </section>
    <br>
    {% endfor %}
</section>

<ul class="addbutton">
    <a href="/cities/new">Add</a>
</ul>
{% endblock %}

