{% extends "base.html" %}
{% block content %}

<h2 class="pageheader">Cities</h2>
<div class="addbutton">
    <a href="/cities/new">Add</a>
</div>
<br>
<section class="showcities">
    {% for city in cities %}
    <p>{{ city.name }}
        {% if city.visited == True %}
        <i class="fa fa-check fa-2x" style="color:#1abc9c" aria-hidden="true"></i>
        {% endif %}
    </p>
    <ul class="editbutton">
        <a href="/cities/{{city.id}}/edit">Edit</a>
    </ul>
    <section class="deletebutton">
    <form action="/cities/{{ city.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>

    </section>
    <br>
    {% endfor %}
</section>



{% endblock %}

