{% extends "base.html" %}
{% block content %}

<h2>Cities</h2>

{% for city in cities %}

<section>
    <p>{{ city.name }}</p>
    <p>{{ city.country_id }}</p>
    <p>{% if False %}
    {{ city.visited }}
    {% endif %}
    </p>

    <form>
        <input type="checkbox" id="visited" name="visited" value=True>
        <label for="visited"> Visited</label><br><br>
        <input type="submit" value="Submit">
      </form>
      
      </body>
      </html>

    <form action="/cities/{{ city.id }}/edit" method="POST">
        <input type="submit" value="Edit">
    </form>
    
    <form action="/cities/{{ city.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>

{% endfor %}
{% endblock %}
