{% extends "base.html" %}
{% block content %}

<form class="editform" action="/cities" method="POST">

  <div>
    <label for="name">City name:</label>
    <input type="text" id="name" name="name" placeholder="e.g Edinburgh" required autofocus>
  </div>

  <div>
    <label for="country">Country:</label>
    <select name="country" id="country">
      {% for country in countries %}
      <option value="{{country.id}}">{{country.name}}</option>
      {% endfor %}
    </select>
  </div>
</form>
<button class="button" type="submit">Add </button>

{% endblock %}