#home-image {
    width:100vw;
    height:100vh;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body {
  font-family: "Helvetica", arial, sans-serif;
  background-color: ghostwhite;
}

body > header {
    margin: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header {
  padding: 40px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
}

.menu {
  /* display: flex;
  flex-direction: row; */
  margin: 50px;
  padding: 50px;
  text-decoration: none;
}

