#home-image {
    width:100vw;
    height:100vh;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body {
  font-family: "Helvetica", arial, sans-serif;
  background-color: rgb(141, 221, 245);
}

